# Lab 2 - Exploring Text Data

### Eric Smith and Jake Carlson

## Introduction
For this lab we will be examining questions and answers on the popular programming Q&A website, Stack Overflow. Stack Overflow allows programmers who are stuck on a problem ask the community about ways to resolve or circumvent said problem. This helps people write more accurate code faster. However, the community can be pretty hard on those who do not fully understand their question or are disrespectful. It could also be the case that the few developers who have experience with a problem similar to yours are not on the website when you post your question. If too much time passes, your post may be burried forever. This makes for some interesing questions. When should you make your post so that it has the highest chance of being answered? Are there specific keywords or phasing that encourage other programmers to answer your questions? Are there specific languages that have their questions answered faster than others? These are questions we will be exploring int his lab.

## Business Understanding

### Motivations
Stack Overflow is a go-to resource for developers. Questions are often distilled down to a single block of code that is easily digestible, and can be matched to the question you came to the site for. However, if you're truly stuck on something, it can seem like an eternity of waiting before someone responds to your question, and sometimes, it may not be answered at all. If you're working in industry and spending a lot of time waiting for a question to be answered, you could fall behind schedule and miss deadlines. These delays could cost your company a great deal in lost revenue and tech debt. Therefore, accurately predicting the amount of time to get a question answered can be seen as a valuable project management tool.

### Objectives
It would be useful if you could predict how quickly your question will be answered if you post it at various times through out the day. For a prediction tool like this to be useful, we want something that is 80-95% accurate in predicting when a question will be answered by. As a project manager, you want your developers to be asking questions that are concise and respectful. Therefore, a tool that could recommend keywords to add to your post to make it more attractive, and provide you with approximate gains in time for reformatting, would also be a valuable project management tool.

## Data Understanding

### Data Attributes
The following is a list of attributes in the data, their data types, and a brief description of the attribute.

#### Questions
- **Id** (nominal): A unique identifier for each question
- **OwnerUserId** (nominal): A unique identifier for the person who posted the question
- **CreationDate** (ordinal): A timestamp of when the question was posted
- **ClosedDare** (ordinal): A timestamp of when the question was closed, if the question wasn't closed this field is NaN
- **Score** (ordinal): ratio?? The number of upvotes a post has
- **Title** (text): A title for the question
- **Body** (text): The question body


## Data Quality
Our data it too big, so we will take a rendom subsample of 40% of the original data set.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# read data
df = pd.read_csv('./data/Questions.csv', encoding='ISO-8859-1')

In [4]:
df.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264216 entries, 0 to 1264215
Data columns (total 7 columns):
Id              1264216 non-null int64
OwnerUserId     1249762 non-null float64
CreationDate    1264216 non-null object
ClosedDate      55959 non-null object
Score           1264216 non-null int64
Title           1264216 non-null object
Body            1264216 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 67.5+ MB

Trial and error has shown us that 1,264,000 elements is too many to work with. Therefore, we will use a random sample to reduce our data set size to 12,000 elements.

In [6]:
df = df.sample(n=12000, replace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 377436 to 1028120
Data columns (total 7 columns):
Id              12000 non-null int64
OwnerUserId     11851 non-null float64
CreationDate    12000 non-null object
ClosedDate      563 non-null object
Score           12000 non-null int64
Title           12000 non-null object
Body            12000 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 750.0+ KB

The body of each question is formatted in HTML, so we will need to parse through each body and remove the HTML tags. We also need to replace HTML entities with their character representations. Finally, many questions have accompanying code blocks, so we will parse out the code blocks into a new attribute for each entry.

In [10]:
from bs4 import BeautifulSoup
import html
import re

# compile regexes
tag_re = re.compile('<[^<]+?>')
newline_re = re.compile('\n+')

def clean_html(body_text):
    soup = BeautifulSoup(body_text, 'html.parser')
    code_tags = soup.findAll('code')
    code_text = ""
    
    # unescape html entities
    body_text = html.unescape(body_text)
    
    # remove code blocks, saving blocks to new string
    for c in code_tags:
        body_text = body_text.replace("<code>{}</code>".format(c.string),
                                      '')
        if c.string:
            code_text += c.string

    # remove remaining tags and multiple newlines
    body_text = tag_re.sub('', body_text)
    body_text = newline_re.sub('\n', body_text)
    
    return body_text, code_text

as_list = df.Body.tolist()
body_list = []
code_list = []
for i in range(len(as_list)):
    body_text, code_text = clean_html(as_list[i])
    body_list.append(body_text)
    code_list.append(code_text)

# update body column
df = df.assign(Body=body_list)
# add code column
df = df.assign(Code=code_list)
df.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Code
377436,13420650,846550.0,2012-11-16T16:34:52Z,NaN,2,Visual Studio Debugger Watch problems,How can I find out the address of a variable o...,streets streets [11790](0x1c66a690 [...] s...
1027704,33858900,5381833.0,2015-11-22T19:03:32Z,NaN,0,Getting an empty string when scanned,So I'm trying to create a Graph from a file in...,"7\nD\n(0, 1)\n(0, 3)\n.\n.\n.\npublic static G..."
572225,19771030,1450675.0,2013-11-04T15:24:50Z,NaN,0,TypeError: e is not defined - when trying to u...,"I'm trying to select all ""img"" tags within ""#g...","<div id=""gallery"">\n <p><img src=""/userfile..."
839303,28227710,3511219.0,2015-01-30T01:16:47Z,NaN,0,Java Triangle Pattern Printing,Trying to write a program that will print a nu...,"Triangle s1 = new Triangle(7, '*');\ns1.displa..."
1036620,34097250,5641006.0,2015-12-04T20:53:06Z,NaN,1,"Using Plotly in shinydashboard, buttons too la...",I'm using Plotly's tutorial for shiny in my sh...,library(ggplot2)\nlibrary(plyr)\nlibrary(rChar...

With the HTML tags removed and the code isolated, the question body is much cleaner. Now lets add another column for the time in minutes it took to get the question answered. This attribute will be NaN if ClosedDate is NaN.

In [19]:
# adapted from https://stackoverflow.com/questions/2788871/date-difference-in-minutes-in-python
from datetime import datetime
import time

fmt = '%Y-%m-%dT%H:%M:%SZ'
def get_minutes_diff(x):
#     if np.isnan(x.ClosedDate):
#         return np.nan
    d1 = datetime.strptime(x.CreationDate, fmt)
    d2 = datetime.strptime(x.ClosedDate, fmt)
    
    # convert to unix timestamp
    d1_ts = time.mktime(d1.timetuple())
    d2_ts = time.mktime(d2.timetuple())
    
    # convert to minutes
    return int(d2_ts - d1_ts) / 60

# df['Durration'] = df[~df.ClosedDate.isnull()].apply(func=get_minutes_diff, axis=1)
df[~df.ClosedDate.isnull()]

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Code
731456,24849700,3857659.0,2014-07-20T10:46:06Z,2016-05-26T07:14:16Z,0,Apache Tomcat error http status 404,To be honest i am a learner and this is my fir...,http://localhost:8080\n- <web-app>\n- <servlet...
1231983,39352830,6801021.0,2016-09-06T15:34:42Z,2016-09-07T12:51:29Z,-4,unsupported operand type(s) for +=: 'int' and ...,"I am new in python, but the code below keep re...",unsupported operand type(s) for +=: 'int' and ...
1261314,40075210,7026835.0,2016-10-16T20:40:40Z,2016-10-16T23:07:54Z,-9,"Str.length ,if..else",I want my code to run a statement if a string ...,"<script>\n var str = ""Hello World!"";\n if(str..."
98539,4138720,24224.0,2010-11-09T21:17:00Z,2012-06-06T12:24:26Z,1,Concise way to Disallow Spidering of all Direc...,Is there anyway to write a robots.txt file tha...,
497257,17331440,1278201.0,2013-06-26T22:16:02Z,2013-06-27T10:47:45Z,0,Order by frequency of occurence within a field,Is there a way in MySQL to order based on the ...,"id, value\n1, 'Bob'\n2, 'Bob Bob Bob'\n3, 'Bob..."
924661,30832870,4441904.0,2015-06-14T18:15:35Z,2015-06-15T00:19:36Z,-1,Spring DI Web-App @Autowired Class is null,I'm trying to autowire a Repository (backend p...,NullPointerException <!--Load Spring Config...
993245,32910280,4331985.0,2015-10-02T15:07:56Z,2015-10-02T15:08:43Z,0,How Java compiler knows which function to use ...,I am making a Linked List of Integers \nI want...,LinkedList<Integer> l1 = new LinkedList<Intege...
1092129,35618030,5583099.0,2016-02-25T04:00:16Z,2016-02-25T13:49:14Z,1,A float that 0.0 equals one transform position...,I have a Healthbar with a mask over it. \nI ne...,
817381,27538900,4148529.0,2014-12-18T03:43:16Z,2014-12-18T07:08:25Z,1,How to manage large data in java web services,I have a problem my java web service. How can ...,
1219916,39027360,6702038.0,2016-08-18T20:55:53Z,2016-08-19T01:52:49Z,0,sending mail from lcoalhost mamp,I'm seriously getting crazy with sending mails...,function contactMail () {\n\n global $conne...
588913,20317080,3055308.0,2013-12-01T20:47:52Z,2013-12-02T04:35:17Z,0,How to build a Java project with multiple main...,I have a project I am doing for a Computer Sci...,
530016,18393200,2704540.0,2013-08-23T01:15:08Z,2013-08-23T17:49:24Z,0,is it possible to connect to multiple database...,is it possible to connect to multiple databas...,$db_host = 'localhost';\n$db_user ...
686087,23424170,3595559.0,2014-05-02T08:47:33Z,2014-05-02T11:11:56Z,-4,giving me MySql Syntax error?,I'm a beginner in JDBC and i'm trying to inser...,rajaimport java.sql.*;\n\npublic class raj{\n ...
822205,27697300,4403716.0,2014-12-29T23:04:40Z,2014-12-29T23:15:55Z,0,How can I create a search with angularjs?,I'm new to angular I have a json data working ...,
554445,19192640,984349.0,2013-10-05T00:20:12Z,2013-10-06T15:42:28Z,1,How to. Connect to facebook through IOS with m...,I'm very new to Facebook connect and Facebook ...,
759523,25725390,4019330.0,2014-09-08T13:28:24Z,2014-09-08T17:08:12Z,-1,How to add a popup menu in i-Phone on a button...,i am a beginner to iOS development.\nI was try...,
705066,24026250,3696062.0,2014-06-03T22:49:51Z,2014-06-04T01:13:04Z,0,The difference between \n and <br /> in php,I was studying php with tutorial. I recognized...,"echo $myString.""<br />""\n<br />\necho $mySting..."
912031,30452380,4233703.0,2015-05-26T07:38:00Z,2015-05-26T08:44:18Z,1,Using std::list::remove_if with MyClass' function,I have I want to use with a bool function of...,std::list<MyClass> *info1(*info1).remove_ifboo...
1165048,37574290,3074280.0,2016-06-01T16:37:09Z,2016-06-01T16:40:57Z,4,C++ reference to class data member,I've only recently discovered the existance of...,class Car\n{\n public:\n int speed;\n};\...
1052199,34524130,5713222.0,2015-12-30T06:28:04Z,2015-12-30T08:38:51Z,-1,asp.net how to understand the 24-hour format,I have a kind of data obtained from SQL server...,
761061,25773510,2348978.0,2014-09-10T19:27:01Z,2014-09-10T19:31:32Z,0,Why and when will function definitions are int...,Take a example of this one:\nIt will be interp...,var is_android = true;\nif (is_android) {\n ...
1149091,37149490,3016037.0,2016-05-10T21:44:18Z,2016-10-07T04:16:16Z,0,How to programmatically create formulas using ...,I'm trying to make a function out of a section...,"lm()arima_forecast = function(data_set, data_c..."
107626,4457500,441374.0,2010-12-16T04:42:47Z,2016-09-24T14:59:21Z,0,Web developent(locally) on mac?,Hi I just bought a mac book pro recently (and ...,
1220633,39046970,5291479.0,2016-08-19T20:09:00Z,2016-08-19T21:07:19Z,1,"JSON, HTML: What is the time format as such ca...",What is the date and time format like the foll...,
95399,4027080,356676.0,2010-10-26T19:04:36Z,2012-09-27T07:50:03Z,0,Clicking an input element in Chrome causes los...,\n Possible Duplicate:\n Chrome Automaticall...,
550424,19061720,2825265.0,2013-09-27T23:50:33Z,2013-09-28T04:50:20Z,-3,Redirect Old URLs with htm Extension,I have moved to php software that creates SEF ...,
69191,3087090,115608.0,2010-06-21T17:51:46Z,2011-05-19T09:44:44Z,6,google docs wysiwyg editor opensource,"I remember earlier this month or last month, p...",
312206,11303770,1497508.0,2012-07-03T02:37:54Z,2012-07-03T02:56:02Z,0,Userscript that changes <ul> into <select>,\n Possible Duplicate:\n How to convert unor...,"<ul class=""tabmenu"">\n<li class=""selected""> <a..."
1256775,39968760,2570437.0,2016-10-11T00:34:36Z,2016-10-11T03:55:53Z,0,Parse argument choices with argsparse,I was playing around with argparse as it's rec...,query [all] [file-name [name]] [alldirs]\n----...
371552,13233170,945175.0,2012-11-05T13:31:20Z,2012-11-06T09:30:10Z,-4,image cropping c#,I want to do image cropping.\nI saw following ...,
...,...,...,...,...,...,...,...,...
959061,31874350,5189390.0,2015-08-07T09:31:21Z,2015-08-07T17:09:29Z,-4,How == works on c++ list iterator?,"I am wondering, how operator == works on list:...",list.eraselist<VirtVertex *> blockList;\n\nvoi...
317081,11458900,671339.0,2012-07-12T19:08:18Z,2012-07-13T12:12:24Z,0,Drupal Commons vs Wordpress+BuddyPress for a s...,I lead a team of 4 PHP developers and we have ...,
1089713,35555290,5015341.0,2016-02-22T13:45:48Z,2016-02-22T14:32:57Z,-1,Adding a if.....else in R,I am trying to apply an if condition to each e...,nobjects <- length(EMATRSTDV)\nfor (i in 1:nob...
634337,21799400,3215309.0,2014-02-15T15:15:10Z,2014-02-16T02:59:48Z,-1,how to show total number of mysql table in php,I am trying to count total number of rows with...,"$countvideo = ""SELECT count(id) FROM `videos`""..."
792134,26743990,4215954.0,2014-11-04T20:03:10Z,2014-11-05T08:31:29Z,-6,What is wrong with my python code?,I'm trying to make a guessing game in python. ...,"from random import randint\nprint ""\nI'm think..."
137019,5482630,474442.0,2011-03-30T06:20:46Z,2012-12-06T08:15:12Z,2,"iphone in app purchase ""Cannot connect to iTun...",\n Possible Duplicate:\n iPhone Store Kit â...,
837095,28159750,NaN,2015-01-26T22:15:41Z,2015-01-27T08:07:54Z,-4,How is the regex code (r'^media/(?P<path>.*)' ...,How is the regex code interpreted in Django/P...,(r'^media/(?P<path>.*)'urlpatterns += patterns...
952316,31668940,2025167.0,2015-07-28T06:34:56Z,2015-07-29T00:44:00Z,2,Addressing among private ip-addresses in netwo...,"So, i was reading networking in depth. One con...",
1180139,37973250,6480948.0,2016-06-22T16:08:48Z,2016-06-22T16:14:38Z,-1,.on('click') not working in Chrome/Safari,I've got the following snippet of code on my w...,"$('#activityFilter option').on('click', functi..."
715395,24348700,3370156.0,2014-06-22T06:27:29Z,2014-06-22T09:40:42Z,-3,Python: How to group unsorted list of dictiona...,I have a list like this:\nI want to group that...,"table=[{'device': 'a', 'iface': 'i1'}, {'devic..."
1258052,39998750,4528747.0,2016-10-12T12:34:09Z,2016-10-12T12:40:12Z,-1,PHP Parse Error â yii\base\ErrorException sy...,It says PHP Parse Error â yii\base\ErrorExc...,<?php //this line is giving error\nuse yii\hel...
1108114,36047700,5781686.0,2016-03-16T21:54:34Z,2016-03-17T03:37:38Z,-4,How to cast variable from string to int in MVC...,I have this variable in MVC .ASP NET Razor Syn...,var data = System.Web.HttpContext.Current....
804905,27146420,1538798.0,2014-11-26T10:13:21Z,2014-11-28T13:14:40Z,0,Altivec Programming Resource,Would be required to port some programming cod...,
49079,2337540,3886.0,2010-02-25T20:53:18Z,2010-02-25T21:17:32Z,30,"When should you use the ""this"" keyword in C++?",\n Possible Duplicates:\n Is excessive use o...,
689049,23517440,2039753.0,2014-05-07T12:11:00Z,2014-05-09T14:50:46Z,2,Software structure versus Software architecture,I can't get the precise differences between so...,
268525,9893330,1026169.0,2012-03-27T16:04:23Z,2015-01-22T11:51:27Z,0,looking for a client side only web development...,I am looking to building a rich app style pres...,
1002026,33173330,5454265.0,2015-10-16T14:45:32Z,2015-10-16T14:46:25Z,0,How to pass value from one to another form in ...,i made a POS system but i have problems passin...,' compute the total for the recipt\n Dim Su...
501065,17455020,1507552.0,2013-07-03T17:55:35Z,2013-07-03T18:00:30Z,1,unusual struct definition in C,I am looking at some code that has this kind o...,"struct Error e = { .code = 22,\n ..."
519993,18066440,2533434.0,2013-08-05T19:45:49Z,2013-08-05T22:08:03Z,-1,Calculate the average value in an array,I need to add something to my app that calcula...,
841353,28291560,2302322.0,2015-02-03T04:47:45Z,2015-02-14T17:38:32Z,0,fail to install rails on window,"I'm trying to install rails on window, but i g...",gem install rails\n\nERROR: Could not find a ...
792171,26745170,972790.0,2014-11-04T21:16:29Z,2014-11-04T21:23:15Z,-2,JavaScript array assign issue,I just created two arrays and assigned a inser...,var array1 =[];\nvar array2 =[];\narray1.value...
561061,19408510,2187142.0,2013-10-16T16:15:32Z,2014-04-16T05:42:51Z,1,Run jquery function using multiple listeners,I have a script:\nI would like to be able to h...,$('#subButton').click( function (){\n // do ...
247894,9215470,1079804.0,2012-02-09T17:12:20Z,2012-02-09T17:58:46Z,-4,Post date in MYSQL format,\n Possible Duplicate:\n Inserting mm/dd/yyy...,
1187614,38172850,4720030.0,2016-07-03T18:04:52Z,2016-07-04T06:17:28Z,-1,Issue With Passing By Refrence To Functions,"I have Linked List and Some Typedefs For It, W...",typedef struct listNode {\n char* val ;\n ...
32644,1658530,200618.0,2009-11-01T22:06:52Z,2013-09-16T15:34:43Z,3,Load numbers from text file in C,I'm wanting to load a known number of numbers ...,
561410,19419730,170527.0,2013-10-17T06:30:32Z,2014-04-19T04:56:25Z,2,How do I pass a variable onto a function in a ...,I'm trying to setup some key bindings in javas...,"for i in [1..2]\n key i.toString(), (e) ->\..."
894331,29911940,4840633.0,2015-04-28T06:32:18Z,2015-04-28T07:02:09Z,1,What is the best way to pass data from one fra...,What is the best way to pass data from one fra...,
1045871,34349940,3694016.0,2015-12-18T06:49:52Z,2015-12-22T04:09:25Z,29,Symbol not displaying properly,The symbol is: Ø¤ÙÙÙÙÙÙÙÙÙÙÙÙÙÙÙ...,
439911,15456100,1228901.0,2013-03-16T23:52:38Z,2013-03-17T13:40:54Z,-2,Error after executing mysqli_query in some use...,Content of getUserName.php file with one metho...,<?php\nfunction getfield($field)\n{\nif(isset(...
414659,14633870,976691.0,2013-01-31T19:44:12Z,2014-03-19T02:09:05Z,0,How to transform an array into a nested array ...,How can I convert this array\ninto this array\...,"['h', 'b']\n[['Home', 'h'], ['Business', 'b']]\n"

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(stop_words='english')
bag_words = count_vect.fit_transform(df.Title.tolist())

In [7]:
len(count_vect.vocabulary_)

10158

In [8]:
df_title = pd.DataFrame(data=bag_words.toarray(), 
                        columns=count_vect.get_feature_names())

In [9]:
# print 10 most common words
df_title.sum().sort_values()[-10:]

function    318
value       323
php         356
java        377
jquery      379
error       475
data        476
android     479
file        529
using       890
dtype: int64